.container {
    min-height: 100vh;
    background-color: #0ea1338a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content form {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 900px;
    margin-bottom: 30px;
}

.content form h2 {
    margin: 20px 0;
}

.content form p {
    margin-bottom: 15px;    
}
.content form label {
    margin-bottom: 5px;    
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;

}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.column .id {
    display: flex;
}

.column .id span {
    margin-right: 10px;
}
.btn_atualizar {
    margin-top: 15px;
    width: 90px;
    height: 30px;
    background-color: #2E8B57;
    border-radius: 5px;
    color: #FFF;
    transition: .2s;
    border: none;
}

.btn_atualizar:hover {
    transform: scale(1.1);
}