.container {
    min-height: 100vh;
    background-color: #0ea1338a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
}

.content p {
    margin-bottom: 10px;
    text-align: justify;
}

.content li {
    list-style: none;
    margin-bottom: 10px;
}